*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.characters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.characters-container .character-card{
    padding: 5px;
    margin: 15px;
}

.characters-container .character-card img {
    border-radius: 50%;
}
.favorite-container{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
}

.favorite-container img{
    width: 50%;
    border-radius: 50%;
}

.favorite-container img:hover{
    border: 5px solid rgb(122, 122, 204);
}